:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;

  /* size */
  --base-space: 8px;
  --size-button: 60px;
  --size-border: 4px;
  --size-thumbnail: 50px;
  --font-size: 18px;

  /* annimation */
  --animation-duration: 300ms;
}

* {
  box-sizing: border-box;
}
body {
  background-color: var(--color-black);
  margin: 0;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
nav {
  display: flex;
}
.sort {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.sort li {
  display: flex;
  align-items: center;
}
.sort li button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  margin: var(--base-space);
  transition: transform var(--animation-duration);
}
.sort li button:hover {
  transform: scale(1.5);
}
.sort li button.color {
  font-size: var(--font-size);
  border: var(--size-border) solid black;
  border-radius: 10px;
  padding: var(--base-space);
  height: var(--size-button);
}
.sort li button.color.blue {
  background-color: var(--color-blue);
}
.sort li button.color.pink {
  background-color: var(--color-pink);
}
.sort li button.color.yellow {
  background-color: var(--color-yellow);
}
.sort li button img {
  width: var(--size-button);
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  /* min-height: 20vh; */
  max-height: 80vh;
  min-height: 80vh;
  overflow-y: auto;
}
.list li {
  background-color: var(--color-white);
  border: var(--size-border) solid black;
  border-radius: 10px;
  padding: var(--base-space);
}
.list li.hidden {
  display: none;
}
.list li img {
  width: var(--size-thumbnail);
  vertical-align: middle;
}
.list li span {
  font-size: var(--font-size);
}
